<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>User informations</title>
</head>
<body>
<h2>User informations</h2>
<p th:text="${adduser.name}"></p>
<p th:text="${adduser.emailaddr}"/>
<p th:text="'Organisation : ' + ${adduser.organisation}"/>
<p th:text="'Start date (MM/DD/YYYY) : ' + ${adduser.startdate}"/>
<p th:text="'End date (MM/DD/YYYY) : ' + ${adduser.enddate}"/>
<p th:text="'You have been employed ' + ${result} + ' days by the organisation.'"/>
<a href="/adduser">Add another user </a>
<p><a href="/getstarted">Go back to the home page</a></p>
</body>
</html>