<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Users details</title>
</head>
<body>
<h2>Current Users in database</h2>
<table border="1">
    <tr>
        <th>USER ID</th>
        <th>NAME</th>
        <th>EMAIL ADDRESS</th>
        <th>ORGANISATION</th>
        <th>START DATE</th>
        <th>END DATE</th>
    </tr>
    <tr th:each="user : ${userList}" >
        <td th:text="${user.userid}"/>
        <td th:text="${user.name}"/>
        <td th:text="${user.emailaddr}"/>
        <td th:text="${user.organisation}"/>
        <td th:text="${user.startdate}"/>
        <td th:text="${user.enddate}"/>
    </tr>
</table>
<a href="/getstarted">Go back to the home page</a>
</body>
</html>